@import '../styles.scss';

.layout-grid {
    margin: 2px;
}

.layout-grid__cell {
    margin-bottom: 3px;
}

.layout-grid__cell__caption {
    background: lightgray;
    width: 100%;
    position: relative;
    margin-top: 5px;
    padding: 5px;
    display: block;
    font-weight: 450;
    font-size: $default-font-size;
    font-family: $default-font-family
}