@import '../styles.scss';

$border-thickness: 1px;
$border-stroke: $border-thickness solid rgb(126, 126, 126);
$inactive-color: rgb(126, 126, 126);
$active-color: black;
$background-color: white;

.layout-tabs {
    .layout-tabs__header-panel {
        border-bottom: $border-stroke;
        background: rgb(194, 220, 247);
        margin:0;
        padding: 0;
        font-family: $default-font-family;
        font-size: $default-font-size;
    }
    .layout-tabs__header {
        user-select: none;
        display: inline-block;
        margin-top: -$border-thickness;
        margin-left: 0.5em;
        padding: 0.5em;
        padding-bottom: 0.2em;
        color: $inactive-color;
        position: relative;
        top: $border-thickness;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: $border-thickness solid $inactive-color;
        background: $background-color;
    }
    .layout-tabs__header--active,
    .layout-tabs__header:hover {
        color: $active-color;
        border: $border-stroke;
        border-bottom: $border-thickness solid $background-color;
    }
    .layout-tabs__header:focus {
        outline: none;
    }
    .layout-tabs__content {
        display: none;
    }
    .layout-tabs__content--visible {
        display: block;
    }
}