@import '../styles.scss';

/* appearance */
.nav {
    font-family: $default-font-family;
    font-size: $default-font-size;
    white-space: nowrap;
    user-select: none;
    >ul>li {
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        margin-right: 5px;
    }
    ul {
        margin: 0;
        padding: 0;
        line-height: 34px;
    }
    ul ul {
        border: 1px solid #b8b8b8;
    }
    li {
        padding-right: 10px;
        padding-left: 5px;
        color: $default-font-color;
        background-color: #ffffff;
        /* hide list item's 'dot' */
        display: block;
    }
    li:hover {
        color: #ffffff;
        background-color: #5c89c7;
    }
}

/* behaviour */
.nav {
    >ul>li {
        /* arrange top level horizontaly */
        float: left;
    }
    ul {
        /* hide nested per default but show on parent's 'hover' */
        ul {
            display: none;
        }
        li:hover>ul {
            display: block;
        }
        ul {
            /* don't affect parent's layout */
            position: absolute;
            /* 3rd+ level to the right of and at same height as parent */
            ul {
                left: 100%;
                top: 0;
            }
            li {
                position: relative;
            }
        }
    }
}