@import '../styles.scss';

$input-background: rgb(242, 242, 242);

.datafield-tool {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 5px;
    height: 100%;
}

.datafield-tool__label {
    text-align: left;
    margin-top: 10px;
    display: block;
    font-family: $default-font-family;
    font-size: $default-font-size - 2;
    color: lighten($default-font-color, 50%);
}

.datafield-tool__input {
    width: -webkit-fill-available;
    padding: 0px 5px;
    border: 0px;
    border-radius: 5px;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $default-font-color;
    background: $input-background;
}

.datafield-tool__multiline-container {
    height: 100%;
    margin-right: 10px;
    right: -10px;
}

.datafield-tool__multiline-textarea::-webkit-scrollbar {
    display: none;
  }


.datafield-tool__multiline-textarea {
    background: $input-background;
    border:0;
    border-radius: 5px;
    overflow: hidded;

    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $default-font-color;
}